body {
    margin: 0 auto;
    font-family: 'tahoma';
}

ul {
    margin-left: -40px;
}

li {
    list-style-type: none;
    display: inline;
    margin-right: 15px;
}

img {
    border: 0.5px solid #d8d8d8;
    width: 80%;
    margin: 40px;
}

button {
    width: 160px;
    height: 50px;
    color: white;
    border-radius: 5px;
    padding: 10px 25px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(90deg, #180962, #8c6de3);
    border: none;
}

.nav-bar {
    background: linear-gradient(90deg, #aea4e3, #d3ffe8);
    height: 80px;
}

.product {
    display: flex;
}

.product-image {
    flex-basis: 700px;
}

.product-info {
    margin-top: 15px;
    flex-basis: 500px;
}

.btn {
    display: flex;
    justify-content: space-between;
}

/* .cart {
    width: 130px;
    height: 45px;
    padding-left: 40px;
    border: 1px solid black;
    border-radius: 5px;
} */

.disabledBtn {
    background-color: #d8d8d8;
}

.color {
    display: flex;
}

.color-choose {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
}